@use '../../styles/variables' as *;
.Navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 8dvw;
  font-family: $font-stack;
  font-weight: 500;
  z-index: 90;
  height: 4rem;
  background-color: $primaryContainerColor;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .NavLogoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.3rem;

    .NavLogo {
      width: 50px;
      height: 50px;
    }
  }

  .NavLinks {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-left: 3rem;
    cursor: pointer;

    .NavLink {
      position: relative;
      list-style: none;
      font-size: 15px;
      color: $NavbarTextColor;

      &.active {
        font-size: 17px;
        font-weight: 550;
      }

      &:hover,
      &:focus {
        transition: all ease-in-out 100ms;
        color: $accentColor;

        &::before {
          width: 100%;
        }
      }

      &::before {
        display: block;
        transition: width 300ms;
        height: 2px;
        content: " ";
        position: absolute;
        background-color: $accentColor;
        width: 0%;
        top: 1.4em;
      }
    }
  }

  .GeneralText {
    color: $NavbarTextColor;
    list-style: none;
    font-size: 15px;
  }

  .LogoutButton {
    padding: 0.6em 0.6em;
    transition: all 100ms ease-in-out;
    position: relative;
    cursor: pointer;
    color: $NavbarTextColor;

    &:hover {
      color: $accentColor;

      &::before {
        width: 75%;
      }
    }

    &::before {
      display: block;
      transition: width 300ms;
      height: 2px;
      content: " ";
      position: absolute;
      background-color: $accentColor;
      width: 0%;
      top: 2em;
    }
  }
}