@use "../../styles//variables" as *;
.toggleSwitch {
  background-color: white;
  width: fit-content;
  padding: 0.8em 1.4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 5em;
  gap: 2em;
  margin-top: 1em;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 13px 20px -9px rgba(0, 0, 0, 0.1);
  position: relative;

  .toggleItem {
    display: inline-block;
    font-size: 1em;
    z-index: 10;
    color: white;
    font-weight: 600;
  }

  .toggleItem:last-child {
    color: $disabledTextColor;
    font-weight: 400;
  }

  &.waiting {
    .toggleItem:first-child {
      color: $disabledTextColor;
      font-weight: 400;
    }

    .toggleItem:last-child {
      color: white;
      font-weight: 600;
    }

    &::before {
      width: 37%;
      transform: translateY(-50%) translateX(83%);
      background-color: $waitingColor;
    }
  }

  &::before {
    content: " ";
    position: absolute;
    width: 64%;
    height: 90%;
    border-radius: 5em;
    top: 50%;
    transform: translateY(-50%) translateX(-27%);
    background-color: $confirmedColor;
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.35, 1.15),
      width 50ms ease-in-out, background-color 250ms ease-in-out;
  }
}

.tableContainer {
  padding: 0em 6dvw;
  padding-bottom: 2em;
  background-color: $bgcolor;
}
