// src/AboutPage.scss

@use "../../styles/variables" as *;

.about-page {
  font-family: $font-stack;
  color: $bodyTextColor;
  background-color: $bgcolor;

  .hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $NavbarTextColor;
    padding: 0px 20px;
    justify-content: space-between;
    background-color: $primaryContainerColor;
    border-radius: 10px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 60px;

    .hero-text {
      text-align: justify-content;
      padding: 20px 0px;

      h1 {
        margin: 0;
        font-size: .5em;
        color: rgb(39, 39, 39);
        color: #f2efef;
      }

      p {
        margin: 20px 0;
        font-size: 1.4em;
      }
    }

    .hero-video {
      flex: 1;
      max-width: 700px;
      border-radius: 30px;
      padding: 30px 20px;
      padding-right: 0px;

      video {
        width: 100%;
        max-width: 800px;
        border-radius: 60px;
      }
    }
  }

  @media (max-width: 1600px) {
    .hero-section {
      flex-direction: column;
      align-items: center;
      margin-right: 80px;
      margin-left: 80px;

  
      .hero-text {
        text-align: justify;
        padding-right: 0px;
         
      }
  
      .hero-video {
        max-width: 100%;
        margin-top: 10px;
    
      }
    }
  }

  .user-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgcolor; 
  
    h2 {
      font-size: 2rem;
      color: $accentColor; 
      text-align: center;
      margin: auto;
      margin-bottom: 60px;
    }
  
    .guide-step {
      background: linear-gradient(135deg, #1e293b 0%, #334155 100%);
      padding: 20px 40px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      max-width: 800px;
      width: 100%;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: scale(1.05);
      }
  
      img {
        width: 180px;
        height: 100px;
        margin-right: 40px;
        border-radius: 10px;
        transition: transform 0.3s ease;
        outline: 2px solid $accentColor; 
      }
  
      img:hover {
        transform: scale(2.8);
      }
  
      .guide-text {
        flex: 1;

        h3 {
          font-size: 1.5rem;
          color: #f2efef;
          cursor: pointer;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
        }
  
        .arrow {
          margin-left: 10px;
          transition: transform 0.3s ease;
          display: inline-flex;
          align-items: center;
  
          &.rotate-up {
            transform: rotate(180deg);
          }
  
          &.rotate-down {
            transform: rotate(0deg);
          }
        }
  
        .step-content {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          
        }
  
        .description-box {
          font-size: 1rem;
          line-height: 1.5;
          color: #333;
          margin-top: 10px;
          background-color: $bgcolor;
          border: 1px solid #ddd;
          padding: 10px;
          border-radius: 5px;
          padding: 10px;
          border-radius: 5px;
          width: 100%;
        }
      }
  
      &.reverse {
        flex-direction: row-reverse;
  
        img {
          margin-right: 0px;
          margin-left: 20px;
          height: inherit;
        }
      }
    }
  }




  .cta-section {
    margin: 40px 0;

    h2 {
      font-size: 2em;
      margin-bottom: 60px;
      text-align: center;
      margin: auto;
      
    }

    p,
    ul,
    ol,
    blockquote {
      font-size: 1.1em;
      line-height: 1.5;
    }

    ul,
    ol {
      padding-left: 20px;

      li {
        margin-bottom: 10px;
      }
    }

    blockquote {
      border-left: 5px solid $accentColor;
      padding-left: 15px;
      font-style: italic;

      footer {
        margin-top: 10px;
        font-size: 0.9em;
        color: $disabledTextColor;
      }
    }

    .cta-button {
      display: block;
      margin: auto;
      background-color: $primary-yellow;
      color: $textColor;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 1em;
      margin-top: 30px;

      &:hover {
        background-color: darken($primary-yellow, 10%);
      }
    }
  }

  .footer {
    text-align: center;
    margin-top: 90px;
    font-size: 0.9em;
    color: $disabledTextColor;
    background-color: $primaryContainerColor;
    padding: 20px;
    border-radius: 10px;

    a {
      color: $accentColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  
  
}


